* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  font-family: "Nunito", Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
h2 {
  color: #fff;
  font-size: 30px;
}

header {
  background-color: hsla(0, 0%, 0%, 0.5);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------SECCION NAV------- */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  /* gap: 20px; */
  /* padding: 0px 50px; */
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.nav-links a:hover {
  color: #0085dd;
}
.nav-links .icon {
  display: none;
}

/* --------SECCION BANNER------- */
#banner {
  background-image: url("../img/Banner_Arquitectura-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  height: 700px;
  width: auto;
  /* margin-bottom: 10%; */
  box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.4);
}
.card-banner {
  margin: 0 auto;
  /* text-align: center; */
  /* padding: 0px 160px; */
}
.card-banner p {
  color: #fff;
  font-size: 35px;
  /* text-align: center; */
}
/* .card-banner p {
  margin-bottom: 200px;
} */

/* --------SECCION SOMOS------- */

#somos {
  text-align: justify;
  /* background-color: rgba(189, 10, 10, 0.1); */
  padding: 90px;
}
#somos h2 {
  margin: 1em 0px;
}
.card-somos {
  display: flex;
  grid-template-columns: auto auto;
  /* text-align:right; */
  /* align-content:flex-start; */
  /* text-align: justify; */
  /* background-color: rgba(255, 255, 255, 0.1); */
  padding: 0px;
}
.text-somos p {
  /* margin: 20px 0px; */
  padding: 20px 40px;
  font-size: 17px;
  width: 100%;
  text-align: justify;
}
.somos-img{
  width: 50%;
  height: auto;
}

/* --------SECCION PROYECTO------- */

#proyecto {
  text-align: justify;
  /* background-color: rgba(189, 10, 10, 0.1); */
  padding: 90px 0px 0px;
}
#proyecto h2 {
  margin: 1em 0px;
  /* font-size: 30px; */
}

.proyecto-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-items: center; */
  /* justify-content: space-between; */
  /* row-gap: 10px; */
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.proyecto-item {
  /* overflow: hidden; */
  width: 400px;
  height: 300px;
  font-size: 5px;
  cursor: pointer;
}

.proyecto-item-img {
  width: 100%;
  height: 90%;
  /* width: auto; */
  object-fit: fill;
  justify-items: auto;
}

.proyecto-item-detalle {
  align-items: flex-start;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 2) 0%,
    rgba(0, 0, 0, 0) 30%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  padding: 10px;
}

.proyecto-grid:hover .proyecto-item {
  opacity: 1;
}

.proyecto-grid:hover .proyecto-item:hover {
  transform: scale(1.7);
  transform-origin: center center;
  opacity: 1;
  transition: 1000ms all;
}

.proyecto-item:hover .proyecto-item-detalle {
  opacity: 1;
  transition: 500ms opacity;
}

.proyecto-item-detalle-titulo {
  color: white;
  margin: 5px 0px 0px 0px;
}

.proyecto-item-detalle-subtitulo {
  color: white;
  font-size: 12px;
  margin: 3px 0px;
}

/* --------SECCION CONTACTO------- */

#contacto {
  /* margin: 3em 0px; */
  padding: 150px;
}
.d-form {
  display: flex;
  grid-template-columns: auto auto;
  /* justify-content: auto; */
  /* align-items: center; */
  flex-wrap: wrap;
}
.form {
  padding: 10px 0;
  width: 100%;
  margin-right: 60px;
}

form .grupo {
  position: relative;
  margin: 15px;
}

input {
  background: #f9f9f9;
  color: #7e7474;
  font-size: 15px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid var(--colorTextos);
}

textarea {
  background: #f9f9f9;
  color: #7e7474;
  font-size: 15px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
}
.warnings {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: auto;
  color: #f90000cb;
}

button {
  background: #6e6f74;
  border-radius: 5px;
  display: block;
  width: 30%;
  margin: 10px auto;
  color: #fff;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.d-iframe {
  width: 50%;
  padding: 20px 20px;
  text-align: auto;
  margin-bottom: 40px;
}

.d-iframe h2 {
  margin-bottom: 20px;
  /* padding: 20px 20px; */
  text-align: auto;
}

/* --------SECCION FOOTER------- */

footer {
  /* align-items: center; */
  background-color: rgba(183, 183, 183, 0.336);
  padding: 1em;
  /* display: flex; */
  /* height: 100%; */
  /* width: 100%; */
}

footer p {
  color: white;
  /* cursor: pointer; */
  font-size: 1em;
  /* padding-left: 30px; */
  /* text-decoration: none; */
  /* justify-content: space-between; */
}

#footer a:hover {
  color: #302727;
}

/* --------AREA RESPONSIVE/MEDIA------- */

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
  /* h2 p {
    font-size: -1em;
  } */
  /* .login-texto {
    display: none;
  } */
  /* .logo-texto {
    display: none;
  } */
  /* #logo {
    height: 60%;
  } */
  /* #banner {
    height: 400px;
  } */

  .container {
    max-width: 720px;
  }
  #banner {
    height: 400px;
    width: auto;
    /* margin-bottom: 10%; */
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.4);
  }
  .card-banner p {
    color: #fff;
    font-size: 20px;
    /* text-align: center; */
  }
  /* #somos h2 {
    margin: 1em 5px;
  } */
  .card-somos {
    display: block;
    /* width: 100%; */
    padding: 0px 70px;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.1);
  }
  .text-somos p {
    /* margin: 20px 0px; */
    padding: 20px 40px;
    font-size: 15px;
    width: 110%;
  }
  .somos-img{
    width: 100%;
    height: auto;
    
  }
  .proyecto-grid {
    display: block;
  }
  .d-form {
    width: 50%;
    margin-bottom: 20px;
  }

  .d-iframe {
    width: 50%;
  }
}

  #footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  h2 p {
    font-size: 1vw;
  }
  #logo {
    height: 30%;
  }
  #banner {
    height: 300px;
  }
  .container {
    max-width: 420px;
  }
  .card-banner {
    padding: 0px 50px;
  }
  .proyecto-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .d-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .d-iframe {
    width: 100%;
  }
}

/* CSS NAVBAR */

@media screen and (max-width: 600px) {
  .nav-links a:not(:first-child) {
    display: none;
  }
  .nav-links a.icon {
    float: right;
    display: block;
  }
}
